@model eidss.model.Schema.FarmPanel
@{
    ViewBag.Title = @Translator.GetMessageString("sectionTitleEpiInfo");
    Layout = "~/Views/Shared/_DetailsLayout.cshtml";
}

@using eidss.mobileclient.Utils

<script src="@Url.Content("~/Scripts/EIDSS.Farm.js")" type="text/javascript"></script>

<table>
    <tr>  
        @if ((bool)ViewBag.CanUpdate)
        {      
            <td>
                <input type="submit" value="@Translator.GetMessageString("Ok")" onclick="ShowEidssDialogOKPromptWithActionSaveExecutionAndCloseWindow(onSaveAndCloseEpi, '@ViewBag.RootKey');" />         
            </td>
            <td>
                <input type="button" value="@Translator.GetMessageString("Cancel")" onclick="ShowEidssDialogCancelPromptWithActionCancelExecution(CloseEpi, '@ViewBag.RootKey');" />                                  
            </td>
        }
        else
        { 
            <td>
                <input type="button" value="@Translator.GetMessageString("Cancel")" onclick="ShowEidssDialogClosePromptWithActionCloseExecution(CloseEpi, '@ViewBag.RootKey');" />                                  
            </td>
        }
    </tr>
</table> 

@using (Html.BeginForm())
{    
    <input type="hidden" id="hdnControllerName" value="VetCase"/>
    <div id="accordion">        
        @Html.Action("ShowFlexibleFormDirect", "FFPresenter", new { root = ViewBag.RootKey, key = Model.idfFarm, ffpresenter = Model.FFPresenterEpi, canUpdate = (bool)ViewBag.CanUpdate })    
    </div>
}

<table>
    <tr>  
        @if ((bool)ViewBag.CanUpdate)
        {      
            <td>
                <input type="submit" value="@Translator.GetMessageString("Ok")" onclick="ShowEidssDialogOKPromptWithActionSaveExecutionAndCloseWindow(onSaveAndCloseEpi, '@ViewBag.RootKey');" />         
            </td>
            <td>
                <input type="button" value="@Translator.GetMessageString("Cancel")" onclick="ShowEidssDialogCancelPromptWithActionCancelExecution(CloseEpi, '@ViewBag.RootKey');" />                                  
            </td>
        }
        else
        { 
            <td>
                <input type="button" value="@Translator.GetMessageString("Cancel")" onclick="ShowEidssDialogClosePromptWithActionCloseExecution(CloseEpi, '@ViewBag.RootKey');" />                                  
            </td>
        }
    </tr>
</table> 
