@model eidss.model.Schema.VetFarmTree
@{
    ViewBag.Title = Translator.GetMessageString("titleSpeciesDetails");
    Layout = "~/Views/Shared/_DetailsLayout.cshtml";
}
           
@using eidss.mobileclient.Utils

<script src="@Url.Content("~/Scripts/EIDSS.Flocks.js")" type="text/javascript"></script>

<table>
    <tr>  
        @if ((bool)ViewBag.CanUpdate)
        {      
            <td>
                <input type="submit" value="@Translator.GetMessageString("Ok")" onclick="var params = ['@ViewBag.RootKey', '@ViewBag.Name', '@ViewBag.IsNewSpecies']; ShowEidssDialogOKPromptWithActionSaveExecutionAndCloseWindow(onSaveAndCloseSpecies, params);" />         
            </td>
            <td>
                <input type="button" value="@Translator.GetMessageString("Cancel")" onclick="ShowEidssDialogCancelPromptWithActionCancelExecution(onCancelSpeciesEdit, '@ViewBag.RootKey');" />                                  
            </td>
        }
        else
        { 
            <td>
                <input type="button" value="@Translator.GetMessageString("Cancel")" onclick="ShowEidssDialogClosePromptWithActionCloseExecution(onCancelSpeciesEdit, '@ViewBag.RootKey');" />                                  
            </td>
        }
    </tr>
</table>   

@{ 
    var htmlAttributes = new Dictionary<string, object>();
    if (!(bool)ViewBag.CanUpdate)
    {
        htmlAttributes.Add("readonly", "readonly");
        htmlAttributes.Add("disabled", "disabled");
    }
}

@using (Html.BeginForm())
{
    @Html.Hidden("idfParty", Model.idfParty) 
    <table> 
        <tr>                                                               
            <td>
                @Translator.GetString("Flock")
            </td>
        </tr>
        <tr>
            <td>
                @Html.DropDownList(Model.ObjectIdent + "idfParentParty", (IEnumerable<SelectListItem>)ViewBag.HerdsList, htmlAttributes)  
            </td>
        </tr>
        <tr>                                                               
            <td>
                @Translator.GetString("Species")                
            </td>
        </tr>
        <tr>
            <td>
                @Html.BvDropDownList(Model, "SpeciesType")
            </td>
        </tr>
        <tr>                                                               
            <td>
                @Html.LabelFor(m => m.intTotalAnimalQty)
            </td>
        </tr>
        <tr>
            <td>
                @Html.BvNumeric(Model, "intTotalAnimalQty")
            </td>
        </tr>
        <tr>                                                               
            <td>
                @Html.LabelFor(m => m.intDeadAnimalQty)
            </td>
        </tr>
        <tr>
            <td>
                @Html.BvNumeric(Model, "intDeadAnimalQty")
            </td>
        </tr>
        <tr>                                                               
            <td>
                @Html.LabelFor(m => m.intSickAnimalQty)
            </td>
        </tr>
        <tr>
            <td>
                @Html.BvNumeric(Model, "intSickAnimalQty")
            </td>
        </tr>    
        <tr>                                                               
            <td>
                @Html.LabelFor(m => m.strAverageAge)
            </td>
        </tr>
        <tr>
            <td>
                @Html.BvNumeric(Model, "strAverageAge")
            </td>
        </tr>   
        <tr>                                                               
            <td>
                @Html.LabelFor(m => m.datStartOfSignsDate)
            </td>
        </tr>
        <tr>
            <td>
                @Html.BvDateBox(Model, "datStartOfSignsDate")
            </td>
        </tr>                          
    </table>
}