@using eidss.avr.mweb.Utils
@using eidss.web.common.Utils
@{
    Layout = null;
}

@if (Cultures.IsRtl)
{
    <link href="@Url.Content("~/Content/Kendo/kendo.rtl.min.css")" rel="stylesheet" />
}
@Html.IncludeVersionedCss("~/Content/Styles/ErrorPage.css")

@if ((bool)ViewData["SessionExpired"])
{
    <script language="javascript" type="text/javascript">
        $(document).ready(function () {
            if (opener) {
                setTimeout(function () {
                    window.opener.location = '/' + GetSiteLanguage() + '/Account/Logout';
                    window.close();
                }, 5000);
            }
            else {
                setTimeout(function () {
                    window.location = '/' + GetSiteLanguage() + '/Account/Logout';
                }, 5000);

            }
        });
    </script>
}

<div class="pnError">
    <h3>@ViewData["Description"]</h3>
    <br/><br/>
    <div class="errorButtonPanel">               
        <button class="windowButton" onclick="bvPopup.closeDefaultPopup();">@Translator.GetMessageString("Ok")</button> 
    </div> 
</div>
@*<div class="pnError">
    <div class='warningText'>@ViewData["Description"]</div>
    <div class="windowButtonsPn">                
        <button class="windowButton" onclick="bvPopup.closeDefaultPopup();">@Translator.GetMessageString("Ok")</button> 
    </div> 
</div>*@
