@using Kendo.Mvc.UI
@using eidss.webclient.Utils
@model eidss.model.Reports.Common.AddressModel

<table id="AddressFilterTable" class="level1">

    <tr>
        <td class="mediumreport">
            @(Html.Label(Model.RegionLabel))
        </td>
        <td class="largereport">
            @{
                @(Html.Kendo().ComboBox()
                      .BindTo(Model.GetSelectedRegions(null).ConvertToSelectListItem())
                      .Name("Address.RegionId")
                      .HtmlAttributes(Model.IsRequired ? new {@class = "requiredField"} : null)
                      .Events(c => c.Change("paperForm.OnRegionChanged")))
            }
            
        </td>
        <td class="mediumreport">
            @Html.LabelFor(m => m.RayonId)
        </td>
        <td class="largereport">
            @{
                @(Html.Kendo().ComboBox()
                      .BindTo(Model.GetRayons(null).ConvertToSelectListItem())
                      .Name("Address.RayonId")
                      .HtmlAttributes(Model.IsRequired ? new {@class = "requiredField"} : null)
                      .Events(c => c.Change("paperForm.OnRayonChanged")
                      ))
            }
        </td>
        <td></td>
    </tr>
    @if (Model.IsSettlementVisible)
    {
        <tr>
            <td class="mediumreport">
                @Html.LabelFor(m => m.SettlementId)
            </td>
            <td class="largereport">
                @{
                    @(Html.Kendo().ComboBox()
                          .BindTo(Model.GetSettlements(null).ConvertToSelectListItem())
                          .HtmlAttributes(Model.IsRequired ? new {@class = "requiredField"} : null)
                          .Name("Address.SettlementId"))
                    }
            </td>
            <td></td>
        </tr>
    }
    
</table>