@using Kendo.Mvc.UI
@using bv.common.Configuration
@using eidss.webclient.Utils
@model eidss.model.Reports.UA.UAFormModel

@{
    Layout = "~/Views/Shared/_ReportLayout.cshtml";
}

@if (BaseSettings.TranslationMode)
{
    <input type='hidden' id='aspclassname' value='@GetType().FullName' />
}

@using (Html.BeginForm())
{
    @Html.Partial("Common/ExportButtons", Model)
    <div class="bluelayout">
        <div class="tabPanelContent">

            @Html.Partial("Common/BaseFilter", Model)

            <table id="FilterTable">
                <tr>
                    <td class="mediumreport">
                        @Html.LabelFor(m => m.Year)
                    </td>
                    <td class="largereport">
                        <div class='tdContainer'>
                            @{
                                @(
                                    Html.Kendo().NumericTextBox()
                                        .Name("Year")
                                        .Value(Model.Year)
                                        .Min(2010)
                                        .Max(DateTime.Today.Year)
                                        .Decimals(0)
                                        .HtmlAttributes(new { @class = "requiredField" })
                                        .Placeholder("")
                                        .Format("g")
                                )
                            }
                        </div>
                    </td>
                    <td colspan="3"></td>
                </tr>
                <tr>
                    <td class="mediumreport">
                        @Html.LabelFor(m => m.Month)
                    </td>
                    <td class="largereport">

                        @{
                            @(Html.Kendo().ComboBox()
                                  .HtmlAttributes(new { @class = "requiredField" })
                                  .BindTo(Model.SelectedCurrentMonthList.ConvertToSelectListItem())
                                  .Name("Month")
                            )
                        }
                        </td>
                    <td></td>
                </tr>
            </table>
            
            @Html.Partial("Common/RegionFilter", Model.Address)
        </div>
    </div>
}
