@{
    ViewBag.Title = Translator.GetMessageString("pageTitleChangePassword");
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

@model eidss.webclient.Models.Login
@using bv.common.Configuration
@using eidss.web.common.Utils

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        defaultPage.changePasswordPageOnLoad();
    });
</script>

@if (BaseSettings.TranslationMode)
{
    <input type='hidden' id='aspclassname' value='@GetType().FullName' />
}
@*
<table class="changePasswordPanel" id="pnSuccessMessage">
    <tr>
        <td class="title">
            <span>@Translator.GetMessageString("pageTitleChangePassword")</span>
        </td>
    </tr>
    <tr>
        <td>
            <div class="successMessage">@Translator.GetBvMessageString("msgPasswordChanged")</div> 
        </td>
    </tr>
    <tr>
        <td class="changePasswordButtons">
            <input id="idButtonOk" type="button" class="button" value="@Translator.GetMessageString("Ok")" onclick="defaultPage.closeChangePassword();" />
        </td>   
    </tr>
</table>
*@
<table class="changePasswordPanel" id="pnChangePassword">
    <tr>
        <td class="title">
            <span>@Translator.GetMessageString("pageTitleChangePassword")</span>
        </td>
    </tr>
    <tr>
        <td>
            <div class="errorMessage" id='errorMessageSpan'>@Html.Encode(Model.ErrorMessage)</div> 
        </td>
    </tr>
    <tr>
        <td class="loginField twinkleInput">
            <span class="k-textbox">
                @Html.LabelFor(m => m.Organization)
                @Html.EditorFor(m => m.Organization, new { @class = "k-textbox" })
                <a href="#" class="k-icon k-i-close" tabindex="-1">&nbsp;</a>
            </span>
        </td>
    </tr>
    <tr>
        <td class="loginField twinkleInput">
            <span class="k-textbox">
                @Html.LabelFor(m => m.UserName)
                @Html.EditorFor(m => m.UserName, new { @class = "k-textbox" })
                <a href="#" class="k-icon k-i-close" tabindex="-1">&nbsp;</a>
            </span>
        </td>
    </tr>
    <tr>
        <td class="loginField twinkleInput">
            <span class="k-textbox">
                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword, new { @class = "k-textbox" })
            </span>
        </td>
    </tr>
    <tr>
        <td class="loginField twinkleInput">
            <span class="k-textbox">
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword, new { @class = "k-textbox" })
            </span>
        </td>
    </tr>
    <tr>
        <td class="loginField twinkleInput">
            <span class="k-textbox">
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "k-textbox" })
            </span>
        </td>
    </tr>
    <tr>
        <td class="changePasswordButtons">
            <table>
                <tr>
            @if (BaseSettings.TranslationMode)
            {
                    <td>
                <input id="idButtonTranslation" type="button" class="button" value="@Translator.GetMessageString("btTranslationTool")" onclick="bvTranslation.OpenTranslationWindow();" />
                    </td>
            }
                    <td>
            <input id="idButtonOk" type="submit" class="button" value="@Translator.GetMessageString("Ok")" onclick="return defaultPage.validateChangePasswordPage();" />
                    </td>
                    <td>
            <input id="idButtonCancel" type="button" class="button" value="@Translator.GetMessageString("Cancel")" onclick="defaultPage.closeChangePassword();" />
                    </td>
                </tr>
            </table>
        </td>   
    </tr>
</table>
