@model eidss.model.Schema.AsSessionDisease
@{
    Layout = "~/Views/Shared/_DetailsWindowLayout.cshtml";
}
@using bv.common.Configuration
@using bv.model.Model.Core
@using eidss.web.common.Utils
@using eidss.webclient.Utils;

<script language="javascript" type="text/javascript">
    $(".popupContent").ready(function () {
        //ChangeMessageWindowHeigth();
    });  
</script>
@if (BaseSettings.TranslationMode){
    <input type='hidden' id='aspclassnamePopup' value='@GetType().FullName' />
}

<input id='@Model.ObjectName' name='@Model.ObjectName' type='hidden' value='@Model.Key' />

<div class="popupContent">
    @using (Html.BeginForm())
    {
         <div class="windowButtonsPn">                  
             <input id="idButtonOk" type="button" class="windowButton" onclick="asSession.saveAndCloseDiseasesGridEditWindow('@(Model.Parent.ObjectIdent)');" value="@Translator.GetMessageString("Ok")"/>     
             <input id="idButtonCancel" type="button" class="windowButton" onclick="bvPopup.closeDefaultPopup();" value="@Translator.GetMessageString("Cancel")"/>  
         </div>   
        <div class="windowSeparator"></div>
        @Html.Hidden("idfMonitoringSessionToDiagnosis", Model.idfMonitoringSessionToDiagnosis)                                               
        <table class="level1">    
            <tr>
                <td class="xlarge firstLabel">
                    @Html.BvLabel(Model, m => m.strDiagnosis)
                </td>
                <td>
                    @Html.BvCombobox(Model, m => m.Diagnosis, width: EditorControlWidth.Large/*, clientOnChange: "asSession.onDiagnosisChanged"*/)
                </td>                            
            </tr>
            <tr>
                <td class="firstLabel">
                    @Html.BvLabel(Model, m => m.strSpecies)
                </td>
                <td>
                    @Html.BvCombobox(Model, m => m.SpeciesType, false, keyName: "idfsBaseReference")
                </td>                            
            </tr>
            <tr>
                <td class="firstLabel">
                    @Html.BvLabel(Model, m => m.strSampleName)
                </td>
                <td>
                    @Html.BvCombobox(Model, m => m.SampleType, false, keyName: "idfsReference")
                </td>                            
            </tr>
        </table> 
    }           
</div>
