
@using Kendo.Mvc.UI
@using bv.common.Configuration
@using eidss.webclient.Utils
@model eidss.webclient.Models.Reports.ComparativeModel

@{
    Layout = "~/Views/Shared/_ReportLayout.cshtml";
}
@if (BaseSettings.TranslationMode){
    <input type='hidden' id='aspclassname' value='@GetType().FullName' />
}

@using (Html.BeginForm())
{
    @Html.Partial("Common/ExportButtons", Model)
    <div class="bluelayout">
        <div class="tabPanelContent">
        
            @Html.Partial("Common/BaseFilter", Model)

            @Html.Partial("Common/FromYearToYearFilter", Model.YearModel)

            <table id="ComparativeFilterTable" >
                <tr>
                    <td class="mediumreport">
                        @Html.LabelFor(m => m.StartMonth)
                    </td>
                    <td class="largereport">
                
                        @{
                            @(Html.Kendo().ComboBox()
                                  .BindTo(Model.SelectedJanuaryMonthList.ConvertToSelectListItem())
                                  .Name("StartMonth")
                                  .Events(c => c.Change("paperForm.OnMonthChangedAZ"))
                                  )
                        }
                
                    </td>
                    <td class="mediumreport">
                        @Html.LabelFor(m => m.EndMonth)
                    </td>
                    <td class="largereport">
                
                        @{
                            @(Html.Kendo().ComboBox()
                                  .BindTo(Model.SelectedCurrentMonthList.ConvertToSelectListItem())
                                  .Name("EndMonth")
                                  .Events(c => c.Change("paperForm.OnMonthChangedAZ"))
                                  )
                        }
                
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td class="mediumreport">
                        @Html.LabelFor(m => m.Counter)
                    </td>
                    <td class="largereport">
                
                        @{
                            @(Html.Kendo().ComboBox()
                                  .BindTo(Model.CounterList.ConvertToSelectListItem())
                                  .Name("Counter")
                                  .HtmlAttributes(new {@class = "requiredField"})
                                  )
                        }
                
                    </td>
                    <td colspan="3"></td>
                </tr>
                <tr>
                    <td class="mediumreport">
                        @Html.LabelFor(m => m.Address1.RegionId) 
                        1
                    </td>
                    <td class="largereport">
                        @{
                            @(Html.Kendo().ComboBox()
                                  .BindTo(Model.Address1.GetSelectedRegions(null).ConvertToSelectListItem())
                                  .Name("Address1.RegionId")
                                  .Events(c => c.Change("paperForm.OnRegion1Changed"))
                                  )
                        }
                    </td>
                    <td class="mediumreport">
                        @Html.LabelFor(m => m.Address1.RayonId)
                        1
                    </td>
                    <td class="largereport">
                        @{
                            @(Html.Kendo().ComboBox()
                                  .BindTo(Model.Address1.GetRayons(null).ConvertToSelectListItem())
                                  .Name("Address1.RayonId")
                                  .Events(c => c.Change("paperForm.OnRayon1Changed"))
                                  )
                        }
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td class="mediumreport">
                        @Html.LabelFor(m => m.Address2.RegionId)
                        2
                    </td>
                    <td class="largereport">
                        @{
                            @(Html.Kendo().ComboBox()
                                  .BindTo(Model.Address2.GetUnselectedRegions(null).ConvertToSelectListItem())
                                  .Name("Address2.RegionId")
                                  .Events(c => c.Change("paperForm.OnRegion2Changed"))
                                  )
                        }
                    </td>
                    <td class="mediumreport">
                        @Html.LabelFor(m => m.Address2.RayonId)
                        2
                    </td>
                    <td class="largereport">
                        @{
                            @(Html.Kendo().ComboBox()
                                  .BindTo(Model.Address2.GetRayons(null).ConvertToSelectListItem())
                                  .Name("Address2.RayonId")
                                  .Events(c => c.Change("paperForm.OnRayon2Changed"))
                                  .Enable(false)
                                  )
                        }
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td class="mediumreport">
                        @Html.LabelFor(m => m.OrganizationCHE)
                    </td>
                    <td class="largereport">
                
                        @{
                            @(Html.Kendo().ComboBox()
                                  .Name("OrganizationCHE")
                                  .BindTo(Model.OrganizationList.ConvertToSelectListItem())
                                  .Events(c => c.Change("paperForm.OnComparativeOrganizationChanged"))
                                  .Enable(false)
                                  )
                        }
                
                    </td>
                    <td colspan="3"></td>
                </tr>
            </table>
        </div>
    </div>
}
