@using Kendo.Mvc.UI
@using bv.common.Configuration
@using bv.model.Model.Core
@using eidss.web.common.Utils
@using eidss.webclient.Utils
@model eidss.webclient.Models.Reports.DataQualityIndicatorsModel

@{
    Layout = "~/Views/Shared/_ReportLayout.cshtml";
}
@if (BaseSettings.TranslationMode){
    <input type='hidden' id='aspclassname' value='@GetType().FullName' />
}

@using (Html.BeginForm())
{
    @Html.Hidden("ReportName", "DataQuality") @*for validation*@
    @Html.Partial("Common/ExportButtons", Model)
   <div class="bluelayout">
        <div class="tabPanelContent">

            @Html.Partial("Common/BaseFilter", Model)

            <table id="DataQualityIndicatorsTable" >
                <tr>
                    <td class="mediumreport">
                        @Html.LabelFor(m => m.Year)
                    </td>
                    <td class="largereport">
                        <div class='tdContainer'>
                            @{
                                @(
                                    Html.Kendo().NumericTextBox()
                                        .Name("Year")
                                        .Value(Model.Year)
                                        .Min(2000)
                                        .Max(DateTime.Today.Year)
                                        .Decimals(0)
                                        .HtmlAttributes(new {@class = "requiredField"})
                                        .Placeholder("")
                                        .Format("g")
                                      )
                            }
                        </div>
                    </td>
                    <td colspan="3" class="mediumreport">
                        @Html.CheckBoxFor(m => m.ArrangeRayonsAlphabetically)
                        @Translator.GetString("ArrangeRayonsAlphabetically")
                    </td>
                </tr>
                <tr>
                    <td class="mediumreport">
                        @Html.LabelFor(m => m.StartMonth)
                    </td>
                    <td class="largereport">
                
                        @{
                            @(Html.Kendo().ComboBox()
                                  .BindTo(Model.SelectedMonthList.ConvertToSelectListItem())
                                  .Name("StartMonth")
                                  .Events(c => c.Change("paperForm.OnMonthChangedAZ"))
                                  )
                        }
                
                    </td>
                    <td class="mediumreport">
                        @Html.LabelFor(m => m.EndMonth)
                    </td>
                    <td class="largereport">
                
                        @{
                            @(Html.Kendo().ComboBox()
                                  .BindTo(Model.SelectedMonthList.ConvertToSelectListItem())
                                  .Name("EndMonth")
                                  .Events(c => c.Change("paperForm.OnMonthChangedAZ"))
                                  )
                        }
                    </td>
                    <td></td>
      
                </tr>
            </table>
            @if(Model.ShowRayonFilter)
            {
                @Html.Partial("AZ/TransportCHEFilter", Model.Address)
            }
   
            <table id="DiagnosisGroupFilterTable" class="level1">
                <tr>
                    <td class="mediumreport">
                        @Html.LabelFor(m => m.SelectedDiagnoses)
                    </td>
                    <td class="largereport">
                        @Html.ComboboxWithCheckboxes("SelectedDiagnoses", Model.Key, "idfsDiagnosisOrDiagnosisGroup", "name",null,
                            "",
                            controller: "Report", action: "DataQualityIndicators_SelectDiagOrGroup", width: EditorControlWidth.Large
                            )
                    </td>
                </tr>
            </table>
            @*@Html.Partial("Common/MultipleDiagnosisFilter", Model.MultipleDiagnosisFilter, new ViewDataDictionary {{"FilterName", "MultipleDiagnosisFilter.CheckedItems"}, {"Caption", Translator.GetMessageString("colDiseaseName")}})*@

        </div>
    </div>
}